body{
    padding: 0 !important;
}

.admin-wrapper{
    height: 100vh;
    width: 100%;

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.header-admin, .admin-footer{
    height: 130px;
    padding-top: 30px;
    padding-right: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(220,220,220, 0.3);
}
.admin-footer{
    padding-top: 0;
    padding-bottom: 30px;
}
.search-bar{
    border: none;
    width: 33%;  
    height: 60px;  
    border-radius: 9px;
    padding: 13px;
    position: relative;
}
.price{
    width: 244px;
    height: 75px;
    background-color: #fff;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.price::before{
    content: attr(data-title);
    position: absolute;
    top: -20px;
}
.tax-wrapper{
    width: 100%;
    flex: 1 1 auto;
    padding-top: 27px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    /* margin-right: -10px; */
}
.tax-wrapper::-webkit-scrollbar {
    background-color: #c4c4c4;
    border-radius: 20px;
    width: 10px;
}
.tax-wrapper::-webkit-scrollbar-thumb{
    background-color: var(--app-green);
    height: 20px;
    border-radius: 20px;
}
.tax-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}
.tax-container__name{
    width: 33%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-blue);
    border-radius: 9px;
}
.price__wrapper{
    width: 244px;
    height: 75px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.price-little{
    height: 60px;
    width: 144px;
    background-color: #fff;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    outline: none;
    border: none;
}
.small-btn{
    width: 80px;
    height: 80px;
}
.btn-add{
    width: 70%;
    height: 60px;
}
.btn-exel{
    width: 10%;
    height: 60px;
    border-radius: 9px;
    color: #fff;
    background-color: var(--dark-blue);
}
.btn-news{
    width: 10%;
    height: 60px;
    border-radius: 9px;
    color: #fff;
    background-color: var(--dark-blue);
}
.btn-news img{
    width: 40px;
}
.create-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(140,140,140, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
.create-modal__body{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.create-modal__input{
    width: 60%;
    height: 90px;
    border: none;
    border-radius: 9px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    outline: none;
}
.btn-close{
    position: absolute !important;
    top: 10px;
    right: 10px;
    background: transparent;
    font-size: 50px;
}
.create-modal__input{
    margin-top: 20px;
    margin-bottom: 15px;
}
.quill-modal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
    z-index: 999;
}
.btn-close-quill, .btn-save-quill{
    position: absolute;
    top:   5px;
    right: 10px;
    z-index: 1000;
    width: 70px;
    height: 30px;
    background-color: tomato;
    color: #fff;
    font-size: 25px;
    border-radius: 3px;
}
.btn-save-quill{
    background-color: var(--app-green);
    font-size: 15px;
    right: 90px;
    width: 90px;
}
.disabled{
    position: relative;
}
.disabled::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(50,50,50, 0.5);
}