.confidentiality{
    padding: 20px;
    width: 100%;
    min-height: 100vh;

    background-color: var(--bg-light);
    text-align: center;
}
body{
    overflow-x: hidden;
}
.title{
    transition: 0.3s;
}
.title img{
    width: 100px;
    height: 100px;
}

.title:hover{
    transform: scale(1.2);
}
.text{
    margin-top: 20px;
    padding: 0 20px;
}
.text h1{
    margin-bottom: 40px;
    margin-top: 20px;
}
.text h3{
    margin-bottom: 20px;
    margin-top: 10px;
    font-style: italic;
}
.text ul{
    text-align: left;
}