.app-footer{
    height: 70px;
    background-color: var(--dark-blue);
    margin-top: 15px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}
.links{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.app-footer__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;  
}
.app-footer__logo img{
    height: inherit;
}

@media screen and (max-width: 540px) {
    .app-footer{
        height: 140px;
    }
    .links, .app-footer__logo{
        height: 50px;
    }
  }